body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .circle-table {
    position: relative;
    width: 300px;
    height: 300px;
    /* border: 2px solid #000; */
    border-radius: 50%;
  }
  
  .person {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #222;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    transition: left 1s, top 1s;
  }
  
  .main-button {
    margin-top: 50px;
    padding: 10px 20px;
    margin-left: 50px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  .add-name-button {
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #1e8449;
  }
  
  .flex-container {
    display: flex;
}

.blocks-wrapper {
    display: flex;
    gap: 100px; /* Adjust the value as needed to control the space */
}
